#mainheader{
    text-align:center;
    font-size:30;
}

#headerline{
    border:1px solid white;
    background-color:white;
    height: 4px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#linkunderheader{
    text-align: center;
}

#aboutmesection{
    text-align:center;
}

#workedon{
    text-align:center;
    padding-top:75px;
}
