@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Source+Code+Pro:wght@300&display=swap');

/*Pallete
Background: rgb(46, 57, 66);
Accent: rgb(228, 119, 47);
SCSS: rgb(218, 96, 230);
*/

html{
    background-color: rgb(46, 57, 66);
    color:white;
    font-family: 'Source Code Pro', monospace;
}

input{
    background-color:rgb(46, 57, 66);
    border:1px solid white;
    font-family:'Source Code Pro', monospace;
    color:white;
}

hr{
    border:1px solid white;
    background-color:white;
    height: 4px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


span{
    color: rgb(228, 119, 47);
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:rgb(228, 119, 47);
}

div{
    text-align:center;
    h1{
        text-align:center;
        font-size:30;
    }
    h2{
        font-size:20;
    }
}
