@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Source+Code+Pro:wght@300&display=swap');

html{
    background-color: rgb(46, 57, 66);
    color:white;
    font-family: 'Source Code Pro', monospace;
}

h2{
    font-size:20px;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:rgb(228, 119, 47);
}
